@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.theme-dark {
  --main-background: hsl(222, 26%, 31%);
  --tgle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow-1: hsl(224, 28%, 35%);
  --key-background-toggle: hsl(6, 63%, 50%);
  --key-shadow-2: hsl(6, 70%, 34%);
  --key-background-3: hsl(30, 25%, 89%);
  --key-shadow-gray-4: hsl(28, 16%, 65%);
  --number-color: hsl(221, 14%, 31%);
  --font-color: hsl(0, 0%, 100%);
  --font-btn-color: hsl(0, 0%, 100%);
}
.theme-light {
  --main-background: hsl(0, 0%, 90%);
  --tgle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow-1: hsl(185, 58%, 25%);
  --key-background-toggle: hsl(25, 98%, 40%);
  --key-shadow-2: hsl(25, 99%, 27%);
  --key-background-3: hsl(45, 7%, 89%);
  --key-shadow-4: hsl(35, 11%, 61%);
  --number-color: hsl(60, 10%, 19%);
  --font-color: hsl(60, 10%, 19%);
  --font-btn-color: hsl(0, 0%, 100%);
}

.theme-violet {
  --main-background: hsl(268, 75%, 9%);
  --tgle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(281, 89%, 26%);
  --key-background: hsl(176, 100%, 44%);
  --key-shadow-1: hsl(285, 91%, 52%);
  --key-background-toggle: hsl(177, 92%, 70%);
  --key-shadow-2: hsl(268, 47%, 21%);
  --key-background-3: hsl(198, 20%, 13%);
  --key-shadow-4: hsl(290, 70%, 36%);
  --number-color: hsl(52, 100%, 62%);
  --font-color: hsl(52, 100%, 62%);
  --font-btn-color: hsl(0, 0%, 100%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1rem;
  background-color: var(--main-background);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.calculator {
  width: 25%;
}

.theme-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

/* ------------------Calc and Theme--------------------- */
.name {
  align-items: flex-end;
  width: 100%;
}
.name h1 {
  color: var(--font-color);
  font-size: 25px;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
label h2 {
  color: var(--font-color);
  font-size: 15px;
  text-transform: uppercase;
}
span {
  margin-bottom: 5px;
  color: var(--font-color);
  font-size: 15px;
}

/* --------------DISPLAY------------------------ */
.calculator form input {
  width: 60px;
  height: 35px;
}
.buttons .display input[name="display"] {
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px 5px;
  color: var(--font-color);
  font-size: 32px;
  font-weight: 700;
  background-color: var(--screen-background);
}
.number-buttons input[type="button"],
.buttons .display input[name="display"] {
  cursor: pointer;
}

/* -------------BUTTONS--------------------------- */
.number-buttons {
  padding: 15px;
  background-color: var(--tgle-keypad-background);
  border-radius: 8px;
}

.number-buttons .flex-row input {
  margin: 10px 5px;
}
.number-buttons input[type="button"] {
  background-color: var(--key-background-3);
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: var(--number-color);
  border-bottom: 15px var(--key-background);
}

.number-buttons input[type="button"]:hover {
  background-color: var(--font-btn-color);
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: var(--number-color);
}

/* ---------------BUTTONS WITH TEXT------------ */

.number-buttons input[value="del"],
input[value="reset"] {
  text-transform: uppercase;
  font-weight: bold;
}

.number-buttons input[value="del"]:hover,
.number-buttons input[value="reset"]:hover {
  color: var(--font-color);
  background-color: var(--key-background);
}
/* ------------------Bottom Buttons----------------- */

.number-buttons input[value="="]:hover {
  background-color: var(--key-background-toggle);
  color: var(--font-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
